/* the styles for the elements/----------------------------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
}

html {
	background-color: white;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

a:hover, a:focus {
	font-style: italic;
}

/* the styles for the header/----------------------------------------------------------------------- */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background-image: linear-gradient(30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
	float: left;
	padding-right: 3.125%;
	padding-left: 3.125%;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

header h3 {
	font-size: 130%;
}

.shadows {
	text-shadow: 2px 2px 5px #800000;
}

/* the styles for nav section/-----------------------------------------------------------------------*/
#nav_menu ul { 
	display: flex;
	flex-basis: 100%;
	justify-content: space-around;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#nav_menu ul li {
	display: block;
	flex-basis: 20%;
	width:20%;
	padding: 1em 0;
	background-color: #800000;
	text-align: center;
}

#nav_menu ul li a {
	width: 16.67%;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#nav_menu a.current {
	color: yellow;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

#nav_menu ul ul li {
	
	position: relative;
}

#nav_menu ul ul li ul {
	position: absolute;
	left: 100%;
	top: 0;
}

#nav_menu ul li.lastitem ul li ul {
	left: -100%;
}

#nav_menu ul li:hover > ul {
	display: block;
	
}

#nav_menu > ul::after {
	content: "";
	
	display: block;
}

/*mobile menu/----------------------------------------------------------------------------*/
#mobile_menu {
	display: none; /*hides it*/
} 

/* the styles for the main section/----------------------------------------------------------------------- */
main {
	display: flex;
}

/* the styles for the section section/---------------------------------------------------------------------- */
section {
	flex-basis: 70%;
	order: 2;
	padding: 0 2.083% 20px 2.083%;
}

section h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

section p {
	padding-bottom: .5em;
}

section ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}
section li {
	padding-bottom: .35em;
	list-style-type: circle;
}

section blockquote {
	padding: 0 2em;
	font-style: italic;
}

/* the styles for the article section/---------------------------------------------------------------------*/
article {
	padding: .5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}

article h1 {
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin-top: 0;
	margin-bottom: 0;
}

article h2 {
	padding-top: 0;
}

article h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

article img {
	max-width: 40%;
	min-width: 150px;
	float: right;
	margin: .5em 0 .25em .5em;
	border: 1px solid black;
}

/* the styles for the aside section/-----------------------------------------------------------------------*/
aside {
	flex-basis: 30%;
	order: 1;
	padding: 0 2.083% 20px 2.083%;
}

aside img {
	padding-bottom: 1em;
}

aside h2 {
	font-size: 130%;
	color: #800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

/* the styles for the footer/----------------------------------------------------------------------------- */
footer {
		
	border: 3px solid #931420;
	background-color: #931420;
}
footer p {
	text-align: center;
	color: white;
	padding: 1em 0;
}

/*media query/--------------------------------------------------------------------------------*/
/*tablet portrait*/
@media only screen and (max-width: 959px) {
	article h1 {font-size: 135%;}
	article h2 {font-size: 120%;}
}

/*mobile landscape */
@media only screen and (max-width: 767px) {
	#nav_menu {display: none;}
	#mobile_menu {display: block;}
	.slicknav_menu {background-color: #800000 !important;}
	header img {float: none;}
	header {display: flex; flex-direction: column; align-items: center; text-align: center;}
	main {flex-direction: column;}
	aside, section {width: 95.834%;}
	section {order: 1;}
	aside {order: 2; padding-right: 2.083%;}
	article img {max-width: 30%;}
	div {column-count: 2;}
}

/*moble portrait*/
@media only screen and (max-width: 479px) {
	body {font-size: 90%;}
}